<!DOCTYPE html>
<html>
<head><title>My Recipes</title>
<link rel="stylesheet" type="text/css" href="/recipes.css">
</head>
<body>
<h2>My Recipes</h2>
<p>This is the Recipe Homepage!</p>
<a href="/recipes/new">Add Recipe</a>
<br><br>
<a href="/recipes/community">All Recipes</a>

</body>
</html>