body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  background-image: url('/assets/menudesign.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}


.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px;  
  padding: 20px;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
}

.recipe-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.recipe-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.recipe-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

.recipe-actions a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.1;
}

.recipe-actions a:hover {
  text-decoration: underline;
  color: #0056b3;
}

p {
  color: red;
}
