* {
  margin: 100;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Audiowide;
  background: linear-gradient(135deg, #5fa8fb, #6f7dfb);
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  color: #fff;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

form {
  background-color: #fff;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: 600;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s;
  font-family: Audiowide;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #4a90e2;
  outline: none;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3b7dd8;
}


